:root {
  --blue-50: #E3F2FD;
  --blue-500: #2196F3;
  --blue-900: #0d47a1;
  --grey-900: #212121;

  --first-color: var(--blue-900);
  --second-color: var(--blue-500);
  --thirdy-color: var(--blue-50);
  --fourth-color: var(--grey-900);

  --orange-500: #ff9800;
  --lime-500: #cddc39;
  --teal-500: #009688;
  --indigo-500: #3f51b5;
  --purple-500: #9c27b0;

  --test-01: var(--orange-500);
  --test-02: var(--lime-500);
  --test-03: var(--teal-500);
  --test-04: var(--indigo-500);
  --test-05: var(--purple-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgba(0,0,0,20%); */
}

ul, li {
  list-style: none;
}

button, input {
  border: 0;
}

button {
  cursor: pointer;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}

@media (max-width: 970px) {
  html {
    font-size: 100%;
  }
}

body {
  background-color: var(--second-color);
  color: var(--thirdy-color);
}

@media (aspect-ration: 2/1) {
  body {
    color: yellow;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 12.5vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3rem;
  z-index: 2;
}

@media (max-width: 970px) {
  header {
    padding: 0 1.5rem;
  }
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  height: 82.5vh;
}

@media (max-width: 970px) {
  main {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

footer {
  display: flex;
  flex-direction: row;
  height: 17.5vh;
}

@media (max-width: 970px) {
  footer {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }
}

header > img {
  width: 7.5vw;
}

@media (max-width: 970px) {
  header > img {
    min-width: 100px;
    width: 15%;
  }
}

header > nav {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media (max-width: 970px) {
  header > nav {
    display: none;
  }
}

header > nav > button {
  width: 3rem;
  background: url(./assets/burger-opened-icon.svg) no-repeat center/auto border-box;
}

@media (min-width: 768px) {
  header > nav > button {
    display: none;
  }
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

header > nav > ul > li {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--fourth-color);
}

header > input {
  width: 20%;
  padding: .65rem 1rem;
  padding-left: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: var(--thirdy-color);
  background: url(./assets/search-icon.svg) no-repeat .75rem center;
  background-size: 3vw 3vh;
  background-color: var(--first-color);
}

@media (max-width: 970px) {
  header > input {
    width: 50%;
  }
}

header > input::placeholder {
  color: var(--thirdy-color);
}

header > button {
  width: 3rem;
  height: 3rem;
  border: 0;
  padding: 1rem;
  margin-left: 2rem;
  background: transparent url(./assets/bag-icon.svg) no-repeat center;
  background-size: 2rem;
}

@media (max-width: 970px) {
  header > button {
    margin-left: 0;
  }
}

main > section.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 2rem;
  padding: 20% 10% 10%;
  background-color: var(--second-color);
}

@media (max-height: 860px) and (orientation: landscape) {
  main > section.description {
    gap: 0.75rem;
  }
}

@media (max-width: 970px) {
  main > section.description {
    padding: 7rem 1.5rem 1.5rem;
    gap: 1rem;
  }
}

main > section.description > h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--first-color);
}

@media (max-height: 860px) and (orientation: landscape) {
  main > section.description > h2 {
    font-size: 2rem;
  }
}

@media (max-width: 970px) {
  main > section.description > h2 {
    font-size: 2rem;
  }
}

main > section.description > h3 {
  font-size: 2.5rem;
}

@media (max-height: 860px) and (orientation: landscape) {
  main > section.description > h3 {
    font-size: 2rem;
  }
}

main > section.description > button {
  font-size: 1.5rem;
  padding: 2rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--thirdy-color);
  background-color: var(--first-color);
}

@media (max-height: 860px) and (orientation: landscape) {
  main > section.description > button {
    padding: 1.5rem 0;
  }
}

main > section.photos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--thirdy-color);
  padding: 5%;
  z-index: 1;
}

@media (max-width: 970px) {
  main > section.photos {
    padding: 5% 5% 20%;
  }
}

main > section.photos > .zoom {
  width: 60%;
  margin: 0 20%;
}

@media (max-height: 860px) and (orientation: landscape) {
  main > section.photos > .zoom {
    width: 40%;
  }
}

main > section.photos > .zoom > img {
  width: 100%;
  height: 100%;
}

main > section.photos > .list {
  position: absolute;
  bottom: 2rem;
  margin: 0 10%;
}

main > section.photos > .list > ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

main > section.photos > .list > ul > li > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 970px) {
  footer > img {
    /* order: 2; */
    width: 100%;
    height: 8rem;
    object-fit: cover;
  }
}

footer > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

@media (max-width: 970px) {
  footer > ul {
    padding: 0 1rem;
  }
}

footer > ul > li {
  font-size: 1.1rem;
}

footer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 25vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--thirdy-color);
  background-color: var(--first-color);
}

@media (max-width: 970px) {
  footer > button {
    width: 100%;
    height: 6rem;
  }
}

footer > button > img {
  width: 1vw;
  height: 1vw;
}

@media (max-width: 970px) {
  footer > button > img {
    width: 1rem;
    height: 1rem;
  }

}
